*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(223, 203, 28);
}
h2{
    margin-top: 5px;
    font-size: 50px;
    text-align: center;
}
img{
    margin-right: 40px;
    display: inline-block;
}
h3{
    text-align: right;
    display: inline-block;
}

div{
    display: inline-block;
    height: 100%;
    width: 100%;
}
/*tabla */
.board{
    margin: 10px auto 0;  
    display: inline-block;
}
/*celda de la tabla*/
.board td{
    width: 100px;
    height: 100px;
    border: 3px solid #080606; 
}
  .red {
    background-color: rgb(80, 27, 67);
  }
  
 

